---
on:
  push:
    branches:
      - main

jobs:
  ci:
    name: CI
    uses: DarylStark/slough-gha-wf-container-projects/.github/workflows/ci.yml@main
  # This job handles production deployment using the cd.yml workflow.
  cd:
    name: CD
    uses: DarylStark/slough-gha-wf-container-projects/.github/workflows/cd.yml@main
    needs: ci
    with:
      container-repository: dast1986
      container-name: slough-dev-dc-java
      platforms: linux/amd64
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
